<h4>books index</h4>
<div class="container">
  <div class="row">
    
    <%= render 'books/common', books: @books %>
    
    <div class="col-md-8">
      <h4>Books</h4>
        <table class="books_table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Option</th>
          </tr>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td><%= image_tag @user.get_profile_image %></td>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div> 
     
  </div>
</div>